#div_info{display:none;position:absolute;top:0px;margin:2px auto;width:60%;text-align:center;font-weight:bold;color:red;}
#divPanelHandler{position:absolute;top:0;left:290px;cursor:pointer;}

#divDisplayQueryResult {position:relative;top:25px;height:auto;width:100%;}
#divDisplayQueryResult table th{font-weight:bold;}
#divDisplayQueryResult table td.center {text-align: center;}
#divDisplayQueryResult table td.right {text-align: right;}
#divDisplayQueryResult table td img {cursor:pointer;}

.dataTables_length {	display: inline-block;float:right;width:150px;margin-right:10px;margin-left:20px;text-align:right;}

.span6 .ui-button {margin-right:0px;height:25px;}

.span6 .cls_button_acknowledge {margin-left:2px;border:red solid 1px;}
a.cls_button_acknowledge span {display:inline-block;height:24px;line-height:24px;padding-right:30px;background: url(../../images/edit.png) no-repeat center right;}
a.cls_button_acknowledge:hover span {background:url(../../images/edit.png) no-repeat center right;}

.FixedHeader_Cloned thead {display: none;}/* Avoid print preview display FixedHeader div*/

/* Date Picker */
.ui-datepicker { font-size:12px; }
/* Settings Dialog */
.ui-dialog { font-size:12px; }
.ui-dialog-titlebar-close {visibility: hidden;}

.td-align-center {text-align:center;}

/* _form.php */
#tbl_edit_customer {position:absolute;top:0px;width:100%;}
#tbl_edit_customer td.table-title {width:20%;}
#tbl_edit_customer td.table-value {width:60%;}
#tbl_edit_customer td.table-value input, #tbl_edit_customer td.table-value textarea {width:250px;padding:1.5px;}
/*#tbl_edit_customer td.tdComboBox input {width:180px;}*/
#tbl_edit_customer td span input.custom-combobox-input {width:230px;font-weight:normal;font-size:12px;color:#039;}
